            <div class="container">
                
                <div class= "comp_opt">
                    <h1> Jobs </h1>
                    
                </div>
                <br>
                <% if !(@jobs.empty?) %>
                    <% @jobs.each do |job| %>
                        <div class="row shadow p-3 mb-5 bg-body-tertiary rounded" style='background-color: #e3f2fd;'>
                            <div class='container'>
                                <br>
                                <h4><%= job.name %></h4>
                                <p> <%= job.company.name %> </p>
                                <p><%= job.salary %> LPA</p>
                                <p><%= job.mode %></p>
                                <div class="option">
                                    <%= button_to 'View Details' , '/companies/'+job.company_id.to_s+'/jobs/'+job.id.to_s ,class: 'btn btn-primary' , method: :get %>
                                    
                                </div>
                                <br>
                            </div>
                        </div>
                        <br>
                    <% end %>
                <% else %>
                    <h4> Sorry! We are empty now. Try again later </h4>
                <% end %>
            </div>