            <div class="jobs_list">
                
                <div class= "comp_opt">
                    <h1>Job Details</h1>
                    <%  if current_user.role=='company' %>
                        <%= button_to 'Add Jobs' , '/companies/'+current_user.company.id.to_s+'/jobs/new' ,class: 'access' , method: :get %>
                    <% end %>
                </div>
                <br>
                <% @jobs.each do |job| %>
                    <div class="one">
                        <%= job.name %></h4>
                        <p> <%= job.company.name %> </p>
                        <p><%= job.salary %> LPA</p>
                        <p><%= job.mode %></p>
                        <div class="option">
                            <%= button_to 'View Details' , '/companies/'+job.company_id.to_s+'/jobs/'+job.id.to_s ,class: 'access' , method: :get %>
                            <% if current_user.role== 'company' %>
                                <%= button_to 'Edit' , '/companies/'+job.company_id.to_s+'/jobs/'+job.id.to_s+'/edit' ,class: 'access' , method: :get %>
                                <%= button_to 'Delete' , '/companies/'+job.company_id.to_s+'/jobs/'+job.id.to_s ,class: 'access' , method: :delete %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>