            <div class="college_applications_list">
                
                
                <br>
                <h1> Your Applications </h1>
                <% if !@college_applications.empty? %>
                    <% @college_applications.each do |college_application| %>
                        <div class="row shadow p-3 mb-5 bg-body-tertiary rounded">
                            <div class='container'>
                                <% if current_user.role=='college' %>
                                    <h4> <%= college_application.company.name %> </h4>
                                <% else %>
                                    <h4><%= college_application.college.name %></h4>
                                <% end %>
                                <p> Status :  <%= college_application.status%></p>
                                

                                    <div class=row>
                                            <% if current_user.role=='company'%> 
                                                <div class='col-md-4'>
                                                    <%= button_to 'View Profile' , '/colleges/'+college_application.college.id.to_s ,class: 'btn btn-primary' , method: :get %>
                                                </div>
                                                <div class='col-md-4'>
                                                    <%= button_to 'Approve' , '/companies/'+current_user.company.id.to_s+'/college_applications/'+college_application.id.to_s+'/accepted_offers/new' ,class: 'btn btn-success' , method: :post %>
                                                </div>
                                                <div class='col-md-4'>
                                                    <%= button_to 'Reject' , '/college_applications/'+college_application.id.to_s ,class: 'btn btn-danger' , method: :put %>
                                                </div>
                                            <% end %>
                                            <% if current_user.role=='college'%>
                                                <div class='col-md-4'>
                                                        <%= button_to 'View listed students' , '/college_applications/'+college_application.id.to_s+'/companies/'+college_application.company_id.to_s+'/students/view' , class: 'btn btn-primary' , method: :get%>
                                                </div>
                                                <div class='col-md-4'>
                                                        <%= button_to 'Add Students' , '/college_applications/'+college_application.id.to_s+'/students' , class: 'btn btn-primary' , method: :get%>
                                                </div>
                                                <% if college_application.status=='Rejected' %>
                                                    <div class='col-md-4'> 
                                                        <%= button_to 'Delete' , '/college_applications/'+college_application.id.to_s ,class: 'btn btn-danger' , method: :delete %>
                                                    </div>
                                                <% end%>
                                            <% end %>
                                    </div>
                            </div>
                        </div>
                    <% end %>
                <% else%>
                    <h4> No applications found! </h4>
                <% end %>    
            </div>