<div class='text-center justify-content-center'>    
    <% if current_user.role=='individual' || current_user.role=='company' %>
        <h1> Interview Schedules </h1>
        <% if @accepted_individuals %>
            <%= month_calendar(events: @accepted_individuals, attribute: :schedule) do |date, accepted_individuals | %>
                <div class='day'>
                    <%= date.day %>
                    <%@ch=0%>
                    <% accepted_individuals.each do |a| %>
                        <br>
                        <%if @ch==0 %>
                            <% @ch=1 %>
                            <% if current_user.role=='company' %>
                                <%= button_to 'Click to view', '/companies/'+current_user.company.id.to_s+'/accepted_offers/'+a.id.to_s , class: 'button', method: :get %>
                            <% elsif current_user.role=='individual' %>
                                <%= button_to 'Click to view', '/individuals/'+current_user.individual.id.to_s+'/accepted_offers/'+a.id.to_s , class: 'button', method: :get %>
                            <% end %>
                            <%# a.schedule.strftime(' %I:%M %p') %>
                        <%end%>
                    <% end %>
                </div>
            <% end %>
        <% else %>
            <%= month_calendar( attribute: :schedule) do |date, accepted_colleges | %>
                    <div class='day'>
                        <%= date.day %>
                    </div>
                <% end %>
        <% end %>
    <% end %>
    <% if current_user.role=='company'%>
        <br><br><br>
    <% end %>

    <% if current_user.role=='college' || current_user.role=='company' %>
        <h1> Campus drive Schedules </h1>
            <% if @accepted_colleges %>
                <%= month_calendar(events: @accepted_colleges, attribute: :schedule) do |date, accepted_colleges | %>
                    <div class='day'>
                        <%= date.day %>
                        <%@ch2=0%>
                        <% accepted_colleges.each do |a| %>
                        <br>
                            <%if @ch2==0 %>
                                <% @ch2=1 %>
                                <% if current_user.role=='company' %>
                                    <%= button_to 'Click to view', '/companies/'+current_user.company.id.to_s+'/accepted_offers/'+a.id.to_s , method: :get %>
                                <% elsif current_user.role=='college' %>
                                    <%= button_to 'Click to view', '/colleges/'+current_user.college.id.to_s+'/accepted_offers/'+a.id.to_s , method: :get %>
                                <% end %>
                                <%# a.schedule.strftime(' %I:%M %p') %>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
            <%else%>
                <%= month_calendar( attribute: :schedule) do |date, accepted_colleges | %>
                    <div class='day'>
                        <%= date.day %>
                    </div>
                <% end %>
            <% end %>
    <%end %>
</div>