        <main class="new_college">
            <h1>Enter College Details</h1>
            <%= form_with model: @college do |f|%>
                <%= f.label :name , 'Enter College Name' %>
                <br>
                <%= f.text_field :name %>
                <br><br>
                <%= f.label :address, 'Enter College Address' %>
                <br>
                <%= f.text_field :address %>
                <br><br>
                <%= f.label :contact_no, 'Enter Contact No.' %>
                <br>
                <%= f.text_field :contact_no %>
                <br><br>
                <%= f.label :email_id, 'Enter email Id' %>
                <br>
                <%= f.text_field :email_id %>
                <br><br>
                <%= f.label :website_link, 'Paste the college official website link' %>
                <br>
                <%= f.text_field :website_link %>
                <br><br>
                <%= f.submit %>
            <% end %>
        </main>